.order-item {
    display: flex;
    align-items: center;

    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 40px;
}

.pizza-image {
    flex: 1;
}

    .pizza-image img {
        width: 100%;
        max-width: 100px; 
        height: auto;
    }

.pizza-details {
    flex: 2;
    padding-left: 10px; 
}

.size-name {
    margin-bottom: 5px;
}

.toppings {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
}
